<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/3-176x176.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Cadastro</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/parallax/jarallax.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Anybody:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anybody:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=vfdSah"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=vfdSah" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu1 cid-uu6mbdEWfR" once="menu" id="menu01-0">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/images/3-176x176.png" alt="" style="height: 5.5rem;">
                    </a>
                </span>
                
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="index.html">HOME</a></li>
                    <li class="nav-item"><a class="nav-link link text-black show display-4" href="#" aria-expanded="false">ABOUT</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-4" href="#">FEATURES</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="page1.html">Cadastro</a>
                    </li></ul>
                
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-success display-4" href="#">LOGIN<br></a></div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="buildm5 header4 cid-uu6pgHYQza mbr-parallax-background" id="header4-3d">
  
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        
        

        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">Cadastro</h1>

        
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form01 ridem5 cid-uu6qt7HbZ5" id="form01-3e">
    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-1">
                        <strong>Enjoy the Ride</strong>
                    </h2>
                    <div class="text-wrapper">
                        <p class="mbr-text mbr-fonts-style display-7">
                            Are you ready to zip through the city streets with ease and style? Say hello to the future
                            of
                            urban transportation with our electric scooter rental service! Whether you're a local
                            looking to
                            breeze through your daily commute.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mbr-form form-wrapper" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="AqvgkAoBxAjUU43cy7kRhkAONKCX7idgBXlysOBuAL2n7dGGSicnZsaMkBMLf4p05VWJ5WVlIUG2nTgykWs3mVzchhTLF6RAf29ZhO05ERkr+kW/h1InkxVtRNBsUzoV.QX2iSX4whUutEtEN7LyP+JH5mrfj0W6Y89J0qrDlvWWtbzoyuSJ6W94hdpVgQI5qUHl0kLFxIaOGA7YzLjqFqxxSHCI0jzG/8rUmlmAfNJnW+9trro8eMajjdzjyGrUa">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                                out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"> Oops...! some
                                problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3 mb-3 mb-3" data-for="name">
                                <label for="name-form01-3e" class="form-control-label mbr-fonts-style display-4"><strong>NAME*</strong></label>
                                <input type="text" name="name" data-form-field="name" class="form-control display-4" value="" id="name-form01-3e">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3 mb-3" data-for="email">
                                <label for="email-form01-3e" class="form-control-label mbr-fonts-style display-4"><strong>E-MAIL*</strong></label>
                                <input type="email" name="email" data-form-field="email" class="form-control display-4" value="" id="email-form01-3e">
                            </div>
                            <div data-for="number" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <label for="number-form01-3e" class="form-control-label mbr-fonts-style display-4"><strong>PHONE*</strong></label>
                                <input type="number" name="number" data-form-field="number" class="form-control display-4" max="100" min="0" step="1" value="" id="number-form01-3e">
                            </div>
                            <div data-for="text" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <label for="text-form01-3e" class="form-control-label mbr-fonts-style display-4"><strong>COMPANY</strong></label>
                                <input type="text" name="text" data-form-field="text" class="form-control display-4" value="" id="text-form01-3e">
                            </div>
                            <div data-for="textarea" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <label for="textarea-form01-3e" class="form-control-label mbr-fonts-style display-4"><strong>MESSAGE</strong></label>
                                <textarea name="textarea" data-form-field="textarea" class="form-control display-4" id="textarea-form01-3e"></textarea>
                            </div>
                            <div class="col mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-4">SEND NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="content-wrapper">
                    <h3 class="mbr-section-subtitle mbr-fonts-style display-2">
                        <strong>Contact for Booking</strong>
                    </h3>
                    <div class="list-wrapper">
                        <ul class="list mbr-fonts-style display-4">
                            <li class="item-wrap"><strong>32 Rue de Rivoli Paris, France</strong></li>
                            <li class="item-wrap"><strong>mobi@rise.com</strong></li>
                            <li class="item-wrap">+985(0)65 342 110</li>
                            <li class="item-wrap"><strong>ride@m5.com</strong></li>
                            <li class="item-wrap">+985(0)63 123 110</li>
                            <li class="item-wrap">Inst: Ruth Rhodes</li>
                        </ul>
                    </div>
                    <div class="content-wrap">
                        <p class="mbr-desc mbr-fonts-style display-5">
                            <strong>Connect with us on social media</strong>
                        </p>
                        <div class="social-wrapper">
                            <div class="social-wrap">
                                <div class="soc-item">
                                    <a href="#">
                                        <span class="mbr-iconfont socicon socicon-facebook"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="#">
                                        <span class="mbr-iconfont socicon socicon-instagram"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="#">
                                        <span class="mbr-iconfont socicon socicon-tiktok"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="#">
                                        <span class="mbr-iconfont socicon socicon-linkedin"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-uu6n1hlzhV" once="footers" id="footer1-2x">

    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <h3 class="mbr-section-title mbr-fonts-style display-5">
                    ResultM5
                </h3>
                <div class="soc-wrapper">
                    <div class="social-row">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-facebook"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-twitter"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="mbr-iconfont socicon socicon-instagram"></span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap"><strong>Description</strong></li>
                    <li class="mbr-text item-wrap"><a href="page9.html" class="text-primary">Teachers</a></li>
                    <li class="mbr-text item-wrap">Students</li>
                    <li class="mbr-text item-wrap"><br></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap"><strong>Products</strong></li>
                    <li class="mbr-text item-wrap">English</li>
                    <li class="mbr-text item-wrap">Spanish</li>
                    <li class="mbr-text item-wrap">English for tannery</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap"><strong>About us</strong></li>
                    <li class="mbr-text item-wrap">Onde&nbsp; estamos?</li>
                    <li class="mbr-text item-wrap">Tradição</li>
                    <li class="mbr-text item-wrap">Compromisso</li>
                    <li class="mbr-text item-wrap">Qualidade</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer2 cid-uu6mbtJj39" id="footer02-e">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2022 SEIDMANNINSTITUTE - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/parallax/jarallax.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
  
</body>
</html>